// Import Font
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Lato&display=swap');

$fs-body: 'Lato', sans-serif;
$fs-heading: 'Castoro', serif;

$clr-primary: hsla(176, 61%, 19%, 1);

$clr-neutral-200: hsla(0, 0%, 23%, 1);
$clr-neutral-600: hsla(0, 0%, 69%, 1);
$clr-neutral-1000: hsla(0, 0%, 100%, 1);
